@font-face {
  font-family: Muli;
  src: url(Muli.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Muli;
  src: url(Muli-Light.ttf);
  font-weight: 300;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Muli;
}
.page-1 {
  height: 100vh;
}
.nav-container {
  display: flex;
  max-width: 1140px !important;
  margin: 0 auto;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1140px !important;
  margin: 0 auto;
  /* justify-content: space-between; */
}
.navbar {
  padding-top: 3em;
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.navbar .nav-item {
  color: #1f1534;
  opacity: 0.5;
  align-self: center;

  margin-right: 2em;
  margin-left: 2em;
}
.nav-list :nth-child(1) {
  font-weight: bold;

  opacity: 1;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-text {
  padding-left: 0.4em;
  font-size: 1.3rem;
  font-weight: bold;
  vertical-align: middle;
  align-self: center;
}
.banner {
  display: flex;
  justify-content: space-between;
  /* padding-top: 0.5em; */
}
.left-banner h1 {
  font-size: 2.5rem;
  padding-bottom: 0.8em;
}
.left-banner p {
  padding-bottom: 2em;
  color: #7d7987;
}
.left-banner {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  align-self: center;
}
.left-banner button {
  background: #458ff6;
  color: white;
  /* align-self: center; */
  text-align: center;
  border-radius: 55px;
  border: 0px;
  width: 160px;
  height: 45px;
}

.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/bg.svg");
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* justify-content: center; */
}
.hline {
  /* border-color: black; */
  border-radius: 2px;
  padding: 13px;
  align-self: center;
  width: 50px;
  border-bottom: 2px solid black;
  /* border-bottom: 1px; */
}
.page-2-subheader {
  padding-top: 2em;
  padding-bottom: 2em;
  align-self: center;
  color: #7d7987;
  width: 80%;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}
.card {
  display: flex;
  width: 350px;
  height: 354px;
  align-items: start;
  background: #ffffff;

  flex-direction: column;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.card p {
  color: #7d7987;
}
.secondary-text {
  color: #7d7987;
}
.card * {
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
}
.show-more {
  border: 1.4px solid #458ff6;
  background-color: white;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  margin-top: 5%;
  line-height: 1;
  margin-bottom: 5%;
  align-self: center;
  border-radius: 55px;
  font-weight: bold;
  font-size: 15px;

  color: #458ff6;

  mix-blend-mode: normal;
}
.page-3 .container {
  flex-direction: row;
  justify-content: space-between;
}
.side-ill-text {
  flex-direction: column;
  max-width: 33%;
  align-self: center;
}
.side-ill-text div {
  border-radius: 2px;
  padding: 20px;
  align-self: center;
  width: 50px;
  border-bottom: 2px solid black;
}
.side-ill-text p {
  color: #7d7987;
  padding-top: 5%;
  padding-bottom: 5%;
}
.jumbotron {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(191.49deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}
.jumbotron * {
  color: white;
  border-color: white;
}
.jumbotron h2 {
  padding-top: 5%;
  /* padding-bottom: 1%; */
  align-self: center;
  color: white;
}

.bottom-jumbotron {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 9%;
  padding-right: 9%;
  justify-content: space-between;
}
.bottom-jumbotron .left-jumbotron {
  display: flex;
  align-content: center;
  width: 50%;
}
.bottom-jumbotron .left-jumbotron h3 {
  align-self: center;
  padding: 1em;
}
.bottom-jumbotron .left-jumbotron img {
  align-self: center;
  border-radius: 50%;
}
.bottom-jumbotron .left-jumbotron img :before {
  background: white;
  /* height: 120%; */
  border-radius: 50%;
}
.bottom-jumbotron .right-jumbotron {
  display: flex;
  color: rgba(255, 255, 255, 0.9);
  width: 50%;
}
.page-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-4 .container {
  flex-direction: column;
}
.page-4 .container h1 {
  align-self: center;
}
.article-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-card {
  z-index: -10;
  width: 350px;
  height: 512px;
  background: #ffffff;
  margin: 1em;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.article-card img {
  border-radius: 20px 20px 0px 0px;
}
.article-card h3,
.article-card p,
.article-card a {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 5%;
}
.article-card a {
  text-decoration: none;
}
.footer {
  padding: 5%;
  width: 100%;
  background: linear-gradient(180.92deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer * {
  color: white;
}
.footer p {
  font-weight: 300;
}
.footer img {
  padding-right: 1em;
}
.footer-main p {
  padding-top: 1em;

  padding-bottom: 1em;
}
.footer-main {
  width: 35%;
}
h4 {
  padding-bottom: 1em;
}
/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */
